.linea{
	border: 2px solid black;
	width: 70px;
	margin: 15px 0px 0px 0px;
}

.cuadro{
	width: 740px;
	height: 500px;
	margin: 30px;
	position: relative;
}

.padre{
	width:210px; 
	height:210px;
	margin: 15px;
	position: relative;
	display: inline-block;
	-webkit-filter: brightness(50%);    
	filter: brightness(50%);
}

.letras::before {
	content: "Nombre y Apellido";
	color: 	white;
	font-family: "Times New Roman", Georgia, Serif;
	position: relative;
	left: 78px;
	top: 214px;
	font-size: 16px;
}

img {
	opacity: 0.9;
}
