/* Inserta tu código aqui */
.arriba {
	position: relative;
	display: inline-block;
	margin-left: 15px;
}
.linea {
	border: 2px solid black;
	width: 70px;
	margin: 15px 0px 0px 0px;
}
.caja {
	margin: 15px;
}
p {
	position:absolute; 
	bottom: 10px;
	left: 70px;
	font-size: 10px;
	color: white;
}
img {
	opacity: 0.9;
}